.onequote-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.onequote-fullpage {
  width: 100%;
  padding: 0 1rem;
  user-select: none;
}

.quote-area {
  position: relative;
  color: black;
  z-index: 1;
  width: 100%;
}
.quote-area .bracket {
  font-size: 30px;
}
.quote-area .bracket.left {
  position: absolute;
  left: 0;
  top: 0;
}
.quote-area .bracket.right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.onequote-fullpage .word {
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  word-break: normal;
  margin: 0;
  padding: 15px 50px;
}
.onequote-fullpage .author {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  float: right;
  margin-top: 40px;
}

.dark .quote-area {
  color: white;
}
.dark .onequote-fullpage .author {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 560px) {
  .onequote-wrapper {
    padding: 1rem 0;
  }

  .onequote-fullpage .word {
    font-size: 1rem;
    line-height: 2.6rem !important;
  }
  .onequote-fullpage .author {
    font-size: 1rem;
  }
}